{% extends 'layout.html' %}

{% block title %}Voter Tasks{% endblock %}

{% block content %}
  <h1>Voter List</h1>
  <p>You have <strong>{{ voters.length }}</strong> Voter Items!</p>
  <p><a href="/voter/new">Create a Voter</a></p>
  <ul id="voters">
    {% for voter in voters %}
      <li>
        <strong>{{ voter.name }}</strong> ||
        <a href="/voter/{{ voter._id.toString() }}">Show</a> ||
        <a href="/voter/edit/{{ voter._id.toString() }}">Edit</a> ||
        <a href="/voter/delete/{{ voter._id.toString() }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
